# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/

# VS Code
.vscode/

# Environment variables
.env
*.env

# Static collected files
staticfiles/
static/images/

# Windows
Thumbs.db
desktop.ini